

.box-1 .image{
    background: url(https://images.pexels.com/photos/1049298/pexels-photo-1049298.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat center/cover;
    
}



.box-2  .image{
    background: url(https://images.pexels.com/photos/2438/nature-forest-waves-trees.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat center/cover;
    
}




.box-3  .image{
    background: url(https://images.pexels.com/photos/3732527/pexels-photo-3732527.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat center/cover;
    
}

.box-4  .image{
    background: url(https://images.pexels.com/photos/1454769/pexels-photo-1454769.jpeg?auto=compress&cs=tinysrgb&w=600) no-repeat center/cover;
    
}
.box-5  .image{
    background: url(https://images.pexels.com/photos/1697912/pexels-photo-1697912.jpeg) no-repeat center/cover;
    
}

.box-6  .image{
    background: url(https://images.pexels.com/photos/18617044/pexels-photo-18617044/free-photo-of-woman-hands-pouring-tea-to-glass.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat center/cover;
    
}.box-7  .image{
    background: url(https://images.pexels.com/photos/36487/above-adventure-aerial-air.jpg?auto=compress&cs=tinysrgb&w=600) no-repeat center/cover;
    
}


.box-8  .image{
    background: url(https://images.pexels.com/photos/733853/pexels-photo-733853.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat center/cover;
    
}



.box-9  .image{
    background: url(https://images.pexels.com/photos/1486974/pexels-photo-1486974.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat center/cover;
    
}





.box-10  .image{
    background: url(https://images.pexels.com/photos/8521833/pexels-photo-8521833.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1
    ) no-repeat center/cover;
    
}